{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Contact Us</h1>
    <p>If you have any questions, comments, or suggestions, feel free to get in touch with us. We're here to help!</p>

    <h3>Contact Information</h3>
    <ul>
        <li><strong>Email:</strong> <a href="mailto:abv.bg">basselt@abv.bg</a></li>
        <li><strong>Phone:</strong> +359 876 364576</li>
        <li><strong>Social Media:</strong></li>
        <ul>
            <li><a href="https://www.facebook.com/recipeproject" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/recipeproject" target="_blank">Instagram</a></li>
            <li><a href="https://twitter.com/recipeproject" target="_blank">Twitter</a></li>
        </ul>
    </ul>

    <h3>Our Office</h3>
    <p>Feel free to visit us at our office:</p>
    <address>
        Recipe Project Inc.<br>
        Gorocvet Street, № 19 <br>
        Plovdiv City, 4027<br>
        Bulgaria
    </address>
</div>
{% endblock %}
