
{% extends 'base.html' %}

{% block content %}
{% if user == post.user %}
  <h2>Delete Post: {{ post }}</h2>

  <p>Are you sure you want to delete this post?</p>

  <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirm Deletion</button>
      <a href="{% url 'view_post' post.pk %}" class="btn btn-secondary">Cancel</a>
  </form>

  <br>
<!--  <a href="{% url 'home' %}">Back to Home</a>-->
    <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-info btn-sm">Back to Home</button></a>
{% else %}
        <h2>In order to delete this post, you must be the Post's owner.</h2>
        <br>
        <a href="{% url 'create_post' %}" class="btn btn-success">Create Post</a>
        <br>
<!--        <a href="{% url 'home' %}">Back to Home</a>-->
        <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-info btn-sm">Back to Home</button></a>
    {% endif %}
{% endblock %}
