{% extends 'base.html' %}

{% block content %}

    <div class="container">
        {% if user.is_authenticated %}
        <div class="row">
            <!-- Recipes List -->
            <div class="col-md-6">
                <h1>Recipe List</h1>
                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col-md-12 mb-3">
                            <div class="card">
                                <!-- <img src="{{ recipe.image.url }}" class="card-img-top" alt="Recipe Image"> -->
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.title }}</h5>
                                    <p class="card-text">{{ recipe.description }}</p>
                                    <a href="{% url 'view_recipe' recipe.pk %}" class="btn btn-primary">View Recipe</a>
                                    <a href="{% url 'update_recipe' recipe.pk %}" class="btn btn-secondary">Update Recipe</a>
                                    {% if user == recipe.chef.user %}
                                    <a href="{% url 'delete_recipe' recipe.pk %}" class="btn btn-danger">Delete Recipe</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="container">
                  <nav>
                    <ul class="pagination">
                      <li class="page-item"><a href="?recipe_page={{ recipes.previous_page_number }}" class="page-link">Previous</a></li>
                      <li class="page-item"><a href="?page=1" class="page-link">1</a></li>
                      <li class="page-item"><a href="?page=2" class="page-link">2</a></li>
                      <li class="page-item"><a href="?page=3" class="page-link">3</a></li>
                      <li class="page-item"><a href="?page=4" class="page-link">4</a></li>
                      <li class="page-item"><a href="?page=5" class="page-link">5</a></li>
                      <li class="page-item"><a href="?recipe_page={{ recipes.paginator.num_pages }}" class="page-link">Next</a></li>
                    </ul>
                  </nav>
                </div>
                <!-- Pagination for recipes -->
<!--                <div class="container">-->
<!--                  <nav>-->
<!--                    <ul class="pagination">-->
<!--                        {% if recipes.has_previous %}-->
<!--                          <li class="page-item"><a href="?recipe_page=1" class="page-link">First</a></li>-->
<!--                          <li class="page-item"><a href="?recipe_page={{ recipes.previous_page_number }}" class="page-link">Previous</a></li>-->
<!--                        {% endif %}-->
<!--                            <li class="page-item"><a href="?page=1" class="page-link">Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}</a></li>-->
<!--                        {% if recipes.has_next %}-->
<!--                          <li class="page-item"><a href="?recipe_page={{ recipes.next_page_number }}" class="page-link">Next</a></li>-->
<!--                          <li class="page-item"><a href="?recipe_page={{ recipes.paginator.num_pages }}" class="page-link">Last</a></li>-->
<!--                        {% endif %}-->
<!--                    </ul>-->
<!--                  </nav>-->
<!--                </div>-->
            </div>


            <!-- Posts List -->
            <div class="col-md-6">
                <h1>Posts List</h1>
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-12 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.recipe.title }}</h5>
                                    <p class="card-text">{{ post.comment }}</p>
                                    <a href="{% url 'view_post' post.pk %}" class="btn btn-primary">View Post</a>

                                    <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Update Post</a>
                                    {% if user == post.user %}
                                    <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete Post</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Pagination for posts -->
<!--                <div class="pagination">-->
<!--                    {% if posts.has_previous %}-->
<!--                        <a href="?post_page=1">-First-</a>-->
<!--                        <a href="?post_page={{ posts.previous_page_number }}">-Previous-</a>-->
<!--                    {% endif %}-->
<!--                    <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>-->
<!--                    {% if posts.has_next %}-->
<!--                        <a href="?post_page={{ posts.next_page_number }}">-Next-</a>-->
<!--                        <a href="?post_page={{ posts.paginator.num_pages }}">-Last-</a>-->
<!--                    {% endif %}-->
<!--                </div>-->
                <div class="container">
                  <nav>
                    <ul class="pagination">
                        {% if posts.has_previous %}
                          <li class="page-item"><a href="?post_page=1" class="page-link">First</a></li>
                          <li class="page-item"><a href="?post_page={{ posts.previous_page_number }}" class="page-link">Previous</a></li>
                        {% endif %}
                            <li class="page-item"><a href="?page=1" class="page-link">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
                        {% if posts.has_next %}
                          <li class="page-item"><a href="?post_page={{ posts.next_page_number }}" class="page-link">Next</a></li>
                          <li class="page-item"><a href="?post_page={{ posts.paginator.num_pages }}" class="page-link">Last</a></li>
                        {% endif %}
                    </ul>
                  </nav>
                </div>

            </div>
        </div>

        {% else %}
        <h2> Welcome to our recipe project</h2>
        <div> You are a chef and want to share your creative recipe ideas?
             <br>join us today and try that sweet register button </br> </div>
        <br>
        <nav>You are a chef and want to share your creative recipe ideas?
            <br>try the register button and join us to begin your journey </br></nav>
<!--        <a href="{% url 'register' %}" <button class="btn btn-info"> </button> Register here </a>-->
        {% endif %}
    </div>

{% endblock %}
