{% extends 'base.html' %}

{% block content %}
    <h1>Recipe List</h1>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                        <a href="{% url 'view_recipe' recipe.pk %}" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
