{% extends 'base.html' %}

{% block content %}

    <div>
        <nav>
            <h3> You are logged out </h3>
            <p> Thank you for using our site </p>
            <a href="{% url 'home' %}" class="nav-link btn btn-primary">Go back home</a>
        </nav>
        <nav>
            <h3> Want to log in again? </h3>
            <p> click the login button to log in </p>
            <a href="{% url 'home' %}" class="nav-link btn btn-primary">Log in again</a>
        </nav>

    </div>

{% endblock %}
