{% extends 'base.html' %}

{% block content %}

    {% if user.chef %}
        <h2>{{ chef}}'s Profile</h2>
        <p><strong>Bio:</strong> {{ chef.bio }}</p>

        <a href="{% url 'update_profile' %}" class="btn btn-primary">Update Chef Profile</a>
    <!--    <a href="edit" class="btn btn-primary">Edit</a>-->
        <br>
        <a href="{% url 'home' %}">Back to Home</a>
    {% else %}
        <h2>{{ user.username }}'s Profile</h2>
        <p><strong>Bio:</strong> {{ chef.bio }}</p>
        <a href="{% url 'create_chef_profile' %}" class="btn btn-primary">Create Chef Profile</a>
        <br>
        <a href="{% url 'home' %}">Back to Home</a>
    {% endif %}

{% endblock %}
