{% extends 'base.html' %}

{% block content %}
    <h2>{{ recipe.title }}</h2>
<!--    <img src="{{ recipe.image.url }}" class="img-fluid" alt="{{ recipe.title }}">-->
    <p>{{ recipe.instructions }}</p>
    <p>{{ recipe.description }}</p>
    <h3>Ingredients</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>
    <h3>Categories</h3>
    <ul>
        {% for category in recipe.categories.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <p><strong>Chef:</strong> {{ recipe.chef }}
        <a href=""> <button type="button" class="btn btn-outline-light btn-sm">view chef's profile</button></a></p>

    {% if user == recipe.chef.user %}
        <nav>
        <a href="{% url 'update_recipe' recipe.pk %}" class="btn btn-outline-primary btn-sm">Edit Recipe</a> |
            <a href="{% url 'delete_recipe' recipe.pk %}" class="btn btn-outline-danger btn-sm">Delete Recipe</a>
        </nav>
    {% endif %}
    <br>
    <a href="{% url 'home' %}" class="btn btn-outline-info btn-sm">Back to Home</a>
{% endblock %}
