{% extends 'base.html' %}

{% block content %}
    <h2>{{ recipe.title }}</h2>
<!--    <img src="{{ recipe.image.url }}" class="img-fluid" alt="{{ recipe.title }}">-->
    <p>{{ recipe.instructions }}</p>
    <p>{{ recipe.description }}</p>
    <h3>Ingredients</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>
    <h3>Categories</h3>
    <ul>
        {% for category in recipe.categories.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <p><strong>Chef:</strong> {{ recipe.chef }}
        <a href=""> view chef's profile</a></p>

    {% if recipe.chef == user %}
        <a href="{% url 'update_recipe' recipe.pk %}" class="btn btn-primary">Edit Recipe</a>
        <a href="{% url 'delete_recipe' recipe.pk %}" class="btn btn-danger">Delete Recipe</a>
    {% endif %}
{% endblock %}
